// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 42rem;
  padding: 4rem 1.5rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $large-breakpoint) {
    padding: 6rem 2rem;
  }
}

main {
  margin-bottom: 4rem;
}

footer {
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 1px solid $border-color;

  p {
    color: $gray-3;
    font-size: 0.9rem;
  }

  a {
    color: $gray-3;

    &:hover {
      color: $body-color;
    }
  }
}
